page-playerdetail{
   
    .backarrow{
        position:absolute;
        z-index:3;
        top:10px;
        background:transparent; 
        box-shadow: none;
    }
    p{
        margin: 0px;
        color: #888888
    }
    .fa {
        
        margin-right: 20px;
        font-size:40px;
    }
    .button-inner {
        color: white;
    }

    span{
        color: #444444
    }
    
    ion-card + img{
        border: 1px solid gray;
        border-radius: 50px;
        height: 100px;
        position: absolute;
        left: 150px;
        z-index: 22454;
        top: 100px;
    }

}