<ion-content style="background:#f3f3f3">
  <button class="backarrow" (click)="back()" ion-button>
  <ion-icon style="font-size:30px;color:white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
  </button>
  <ion-card style="margin:0px;width:100%;position:relative">
    <img style="height: 150px;" src={{cover_pic}}/>
  </ion-card>
  <img src={{logo}}/>

  <ion-grid style="padding:25px;text-align:center ;padding-top: 60px;">

    <ion-row>
      <ion-col>
        <p style="font-size:24px;    color: #444444;">{{name}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>{{city}} | {{country}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="    margin: auto;
    border-bottom: 1px solid #888888;">
      <ion-col>
        <p>{{gender}} . {{leg}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="    margin: auto;
    border-bottom: 1px solid #888888;">
      <ion-col>
        <p>{{followers}} Followers | {{following}} following</p>
      </ion-col>
    </ion-row>

    <ion-row style="    margin-top: 15px;
">

      <ion-col col-2>
        <i class="fa fa-commenting" aria-hidden="true"></i>
        <span>Seguir</span>
      </ion-col>

      <ion-col col-3>
        <i class="fa fa-commenting" aria-hidden="true"></i>
        <span>Message</span>
      </ion-col>

      <ion-col col-2>
        <i class="fa fa-share-alt" aria-hidden="true"></i>

        <span>Share</span>
      </ion-col>

      <ion-col col-2>
        <i class="fa fa-commenting" aria-hidden="true"></i>
        <span>Teams</span>
      </ion-col>

      <ion-col col-3>
        <i class="fa fa-commenting" aria-hidden="true"></i>
        <span>Tournaments</span>
      </ion-col>

    </ion-row>

    <button style="height: 4.6rem;background:#464646" ion-button>INVITE</button>

  </ion-grid>

  <ion-grid padding style="background:white">

    <ion-row>
      <ion-col>
        <span>
          Stats
        </span>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-6>
        <span>
        Tournaments Played
          
        </span>
        <p>{{tour}}</p>
      </ion-col>
      <ion-col col-6>
        <span>
        Age
          
        </span>
        <p>{{age}}</p>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-6>
        <span>
Matches Played
          
        </span>
        <p>{{match}}</p>

      </ion-col>
      <ion-col col-6>
        <span>
        Member Since
          
        </span>
        <p>{{Na}}</p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <span>
        No. Of Goals
          
        </span>
        <p>{{goal}}</p>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid padding style="    margin-top: 15px;
    background: white;    margin-bottom: 30px;
">

    <ion-row>
      <span>Bio</span>
    </ion-row>

    <ion-row>
      <p>{{bio}}</p>
    </ion-row>

  </ion-grid>

</ion-content>