<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col><img style="height: 45px;" src="assets/images/pelo.png" /></ion-col>
        <!--<ion-col style="text-align:center"><button (click)="login(true)" ion-button clear>Login</button></ion-col>-->
        <ion-col style="text-align:right"><button (click)="signup()" ion-button clear>SignUp</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=216138192245940";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

<ion-content padding>
  <div style="padding-top:50px;text-align: center;font-size: 30px;">
    <span>Login</span>
  </div>
  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-label floating>UserId</ion-label>
        <ion-input formControlName="user" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="pass" type="password"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <p class="invalid" *ngIf="loginVAlid">Invalid Login</p>
  <button ion-button block round color="secondary" (click)="login()">Login</button>
  <button ion-button block round (click)="fbLogin()"> <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>Login with Facebook</button>
</ion-content>