 
 page-login{
.item-md {
    margin-bottom: 15px;
    background:transparent;
    border-radius: 10px;
   
}
.list-md {
    margin: 50px auto;
    width: 80%;
}
.item-ios{
    margin-bottom: 15px;
    border-radius: 10px;
        background:transparent;
}
.list-ios{
   margin: 50px auto;
    width: 80%;
}
.button-md-secondary {
    margin: auto;
    width: 50%;
    height: 50px;
}
.button-ios-secondary {
    margin: auto;
    width: 50%;
    height: 50px;
}
 .invalid{
    color: #ec5350;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.active{
    color: #444444
}
.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin: auto;
    width: 50%;
    margin-top: 25px;
    height: 50px
}
.button-round-ios {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin: auto;
    width: 50%;
    margin-top: 25px;
    height: 50px
}
.ion-logo-facebook:before {
    content: "\f236";
    width: 24px;
    font-size: 27px;
}
 }