<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img class="img" src="assets/images/pelo.png" />
        </ion-col>
        <ion-col>
          <ion-title padding>HOME</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid padding class="home">

    <ion-row>
      <ion-col style="text-align:center ">
        <p>EXPLORE</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p (click)="pushPage('GroundsPage')">RESERVATIONS</p>
      </ion-col>
      <ion-col>
        <p (click)="pushPage('TournamentsPage')">TOURNAMENTS</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p (click)="pushPage('TeamsPage')">TEAMS</p>
      </ion-col>
      <ion-col>
        <p (click)="pushPage('PlayersPage')">PLAYERS</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>