<ion-content style="background:#f3f3f3">
  <button class="backarrow" (click)="back()" ion-button>
  <ion-icon style="font-size:30px;color:white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
  </button>
  <ion-card style="margin:0px;width:100%;position:relative">
    <img style="height: 150px;" [src]="cover_pic+result1?.team_logo"/>
  </ion-card>
  <img src={{logo}}/>
</ion-content>