<ion-header>

  <ion-navbar>
    <div padding style="display:flex">
      <ion-title style="padding-left: 25%;">PLAYERS</ion-title>
      <span>Modify</span>
    </div>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: beige;">
  <ion-card style="margin:0px 0px 10px 0px;width:100%" *ngFor="let i of result" (click)="playerdetail(i.id)">
    <img style="height:150px" [src]="i.cover_pic?cover_pic+i.cover_pic:'assets/images/defaultplayercover.jpg'" />
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img style="  height:50px;  width: 50px;
    border-radius: 30px;" [src]="i.username.profile_pic?cover_pic+i.username.profile_pic:'assets/images/defaultplayer.jpg'"
            />
          </ion-col>
          <ion-col>
            <ion-card-title>
              {{i.username.name}}
            </ion-card-title>
            <p style="float: right;margin-top: -34px;font-weight: 500;font-size: 16px;">{{i.position.position_name}}</p>
            <p>{{i.nick_name}}</p>
            <p>{{i.position.city}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content>
     loadingSpinner="bubbles"
      loadingText="Loading more data..."
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>