<ion-header>
  <ion-navbar class="backbttn">
    <ion-grid>
      <ion-row>
        <ion-col><img style="height: 45px;" src="assets/images/pelo.png"/></ion-col>
        <ion-col style="text-align:right"><button ion-button clear (click)="login()">Login</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="padding-top:50px;text-align: center;font-size: 30px;">
    <span>SignUp</span>
  </div>
  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input formControlName="lname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="pass" type="password"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Mobile</ion-label>
        <ion-input formControlName="mobile" type="number"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <p class="invalid" *ngIf="loginVAlid">Invalid Login</p>
  <button ion-button block round color="secondary" (click)="login()">Login</button>

</ion-content>